@import 'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($colores, $color-name);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "MontserratRegular";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "MontserratItalic";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

header {
    color: map-get($colores, color-principal);
    text-align: left;
    background-color: map-get($colores, color-secundario);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .logo {
        max-width: $tamaño-grande;
        max-height: 60px;

        @include desktop {
            max-width: 170px;
            min-height: 70px;
        }
    }

    .menu {
        font-family: "MontserratRegular";
        font-size: $tamaño-medio;
        color: map-get($colores, color-principal);
    }

    .item {
        background-color: map-get($colores, color-secundario);
        transition: all 0.5s;
    }

    .item:hover {
        font-size: $tamaño-medio;
    }
}

.presentacion {
    padding: 150px 50px;

    @include desktop {
        padding: 250px 150px;
    }
}

main {
    background-image: url(../img/x-ray-of-teeth.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.botonwhatsApp {
    a {
        img {
            width: 40px;
            bottom: 10px;
            right: 10px;
            position: fixed;

            @include desktop {
                width: 60px;
                bottom: 20px;
                right: 10px;
                position: fixed;
            }
        }
    }
}



h1 {
    text-align: center;
    font-family: "MontserratRegular";
    font-weight: bold;
    font-size: 60px;
    color: map-get($colores, color-texto);

    @include desktop {
        font-size: 95px;
    }
}


h2 {
    @extend h1;
    font-family: "MontserratItalic";
    font-weight: normal;
    font-size: 50px;
}

footer {
    background-color: map-get($colores, color-secundario);
    font-family: "MontserratRegular";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @include desktop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

h3 {
    font-family: "MontserratItalic";
    font-weight: bold;
    font-size: $tamaño-medio;
    color: map-get($colores, color-principal);
    text-align: start;
    padding: $tamaño-medio;
}



.redes {
    p {
        a {
            padding: $tamaño-chico;
        }
    }
}


.horarios {
    text-align: end;
}

h5 {
    color: map-get($colores, color-footer);
    padding: $tamaño-chico;
    font-size: $tamaño-chico;
}

.textoacerca {
    color: map-get($colores, color-acercademi);
    font-weight: bold;
    font-family: "MontserratItalic";
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 12px;

    @include desktop {
        font-size: $tamaño-medio;
        margin-left: 100px;
        margin-right: 100px;
    }
}

.acercademititulo {
    @extend h1;
    font-size: 50px;
    padding-top: 40px;

    @include desktop {
        font-size: 70px;
    }
}

.perfil {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    padding: 20px;

    @include desktop {
        border-radius: 50%;
        max-width: 400px;
        max-height: 400px;
    }

}

.victoria {
    margin: 50px 80px;

    @include desktop {
        margin: 80px 400px;
    }
}


.obraslogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
        height: 150px;
        width: 250px;
        padding: $tamaño-chico $tamaño-chico;
        border-radius: 50px;

        @include desktop {
            padding: $tamaño-chico $tamaño-chico;
            border-radius: 50px;
        }
    }

}

.procesos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
        border-radius: $tamaño-medio;
        height: 320px;
        width: 230px;
        margin: 50px $tamaño-chico;

        @include desktop {
            border-radius: $tamaño-medio;
            height: 300px;
            width: 210px;
        }
    }
}

.contactotitulo {
    font-size: 40px;

    @include desktop {
        padding: 10px;
        font-size: 60px;
    }

}

.nombre,
.email,
.tipodeconsul,
.terminos {
    font-family: "MontserratItalic";
    color: map-get($colores, color-principal);
    margin: $tamaño-medio;
    text-align: center;
    font-weight: bold;
}

.cuadromotivo {
    padding: 5px 60px;

    @include desktop {
        padding: 5px 100px;
    }

}

.horarios {
    font-family: "MontserratItalic";
    color: map-get($colores, color-principal);
    text-align: center;
    padding-top: $tamaño-chico;
    font-weight: bold;
}

iframe {
    width: 350px;
    height: 150px;
    padding: 10px 2px;

    @include desktop {
        width: 700px;
        height: 550px;
        padding: 15px;
    }
}

.grilla1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25;
    grid-template-areas: "header "
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;

    @include desktop {
        .grilla1 {
            display: grid;
            grid-template-columns: 0.25fr 1fr 0.50fr;
            grid-template-rows: 0.25fr auto 0.25fr;
            grid-template-areas: "header header header"
                "main main main"
                "footer footer footer";
        }

        header {
            grid-area: header;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

    }
}

.titulotratamientos {
    padding: 40px 20px;

    @include desktop {
        padding: 80px 70px;
    }
}

.textotratamiento {
    @extend h1;
    font-size: 45px;

    @include desktop {
        @extend h1;
        font-size: 72px;
    }
}

.informacionvictoria {
    padding: 15px 25px;

    @include desktop {
        padding: 50px 50px;
    }

}

.contenidocobertura {
    padding: 40px 25px;

    @include desktop {
        padding: 210px 50px;
    }

}

.titulocoberturas {
    padding: 10px 25px;

    @include desktop {
        padding: 1px 10px;
    }
}

.formulariocontacto {
    padding: 10px 25px;

    @include desktop {
        padding: 60px 50px;
    }

}

@media screen and (min-width:#{$desktop}) {

    .menu {
        li {
            a {
                padding: 15px;
                font-size: 18px;
                color: map-get($colores, color-principal);
            }
        }
    }

    .redes,
    h3 {
        align-self: center;
    }

}