@import 'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($colores, $color-name);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "MontserratRegular";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "MontserratItalic";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

header {
    color: map-get($colores, color-principal);
    text-align: left;
    background-color: map-get($colores, color-secundario);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .logo {
        max-width: $tamaño-grande;
        max-height: 60px;
    }

    .menu {
        font-family: "MontserratRegular";
        font-size: $tamaño-medio;
        color: map-get($colores, color-principal);
    }

    .item {
        background-color: map-get($colores, color-secundario);
        transition: all 0.5s;
    }

    .item:hover {
        font-size: $tamaño-medio;
    }
}

.presentacion {
    padding: 150px 50px;
}

main {
    background-image: url(../img/x-ray-of-teeth.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: "MontserratRegular";
    font-weight: bold;
    font-size: 70px;
    color: map-get($colores, color-texto);
}

h2 {
    @extend h1;
    font-family: "MontserratItalic";
    font-weight: normal;
    font-size: 50px;
}

footer {
    background-color: map-get($colores, color-secundario);
    font-family: "MontserratRegular";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    h3 {
        font-family: "MontserratItalic";
        font-weight: bold;
        font-size: $tamaño-medio;
        color: map-get($colores, color-principal);
        text-align: start;
        padding: $tamaño-medio;
    }
}


.redes {
    p {
        a {
            padding: $tamaño-chico;
        }
    }
}


.horarios {
    text-align: end;
}

h5 {
    color: map-get($colores, color-footer);
    padding: $tamaño-chico;
    font-size:$tamaño-chico;
}

.textoacerca {
    color: map-get($colores, color-acercademi);
    font-weight: bold;
    font-family: "MontserratItalic";
    text-align: center;
    font-size: 15px;
    margin: 7px;
}

.victoria {
    margin: 50px 80px;
}


.obraslogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
        height: 150px;
        width: 250px;
        padding: $tamaño-chico $tamaño-chico;
        border-radius: 50px;
    }

}

.procesos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
        border-radius: $tamaño-medio;
        height: 320px;
        width: 230px;
        margin: 50px $tamaño-chico;
    }
}

.nombre,
.email,
.tipodeconsul,
.terminos {
    font-family: "MontserratItalic";
    color: map-get($colores, color-principal);
    margin: $tamaño-medio;
    text-align: center;
    font-weight: bold;
}

.cuadromotivo {
    padding: 5px 130px;
}

.horarios {
    font-family: "MontserratItalic";
    color: map-get($colores, color-principal);
    text-align: center;
    padding-top: $tamaño-chico;
    font-weight: bold;
}

.tiempo {
    padding: 5px 15px;
}

iframe {
    max-width: 400px;
    max-height: 350px;
    margin: 5px 40px;
}

.grilla1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25;
    grid-template-areas: "header "
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media screen and (min-width:#{$desktop}) {

    .grilla1 {
        display: grid;
        grid-template-columns: 0.25fr 1fr 0.50fr;
        grid-template-rows: 0.25fr auto 0.25fr;
        grid-template-areas: "header header header"
            "main main main"
            "footer footer footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    .logo {
        max-width: 170px;
        min-height: 70px;
    }

    .menu {
        li {
            a {
                padding: 15px;
                font-size: 15px;
                color: map-get($colores, color-principal);
            }
        }
    }

    .presentacion {
        padding: 250px 150px;
    }

    main {
        background-size: cover;
    }


    footer {
        background-color: map-get($colores, color-secundario);
        font-family: "MontserratRegular";
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        font-size: 100px;
    }

    .redes , h3{
        align-self: center;
    }

    .textoacerca {
        font-size: $tamaño-medio;
        margin-left: 100px;
        margin-right: 100px;
    }

    .victoria {
        margin: 80px 400px;
    }

    .informacionvictoria {
        padding: 100px 50px;
    }

    .titulotratamientos {
        padding: 120px 70px;
    }

    .obraslogos img {
        padding: $tamaño-chico $tamaño-chico;
        border-radius: 50px;
    }

    .contenidocobertura {
        padding: 200px 50px;

    }

    .procesos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        img {
            border-radius: $tamaño-medio;
            height: 320px;
            width: 230px;
        }
    }

    .formulariocontacto {
        padding: 25px 50px;

        iframe {
            max-width: 1000px;
            max-height: 1000px;
        }

        .mapa {
            padding: 5px 170px;
        }
    }
}