* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "MontserratItalic";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
header {
  color: #2b337d;
  text-align: left;
  background-color: #85bfcb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .logo {
  max-width: 110px;
  max-height: 60px;
}
@media (min-width: 1024px) {
  header .logo {
    max-width: 170px;
    min-height: 70px;
  }
}
header .menu {
  font-family: "MontserratRegular";
  font-size: 20px;
  color: #2b337d;
}
header .item {
  background-color: #85bfcb;
  transition: all 0.5s;
}
header .item:hover {
  font-size: 20px;
}

.presentacion {
  padding: 150px 50px;
}
@media (min-width: 1024px) {
  .presentacion {
    padding: 250px 150px;
  }
}

main {
  background-image: url(../img/x-ray-of-teeth.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.botonwhatsApp a img {
  width: 40px;
  bottom: 10px;
  right: 10px;
  position: fixed;
}
@media (min-width: 1024px) {
  .botonwhatsApp a img {
    width: 60px;
    bottom: 20px;
    right: 10px;
    position: fixed;
  }
}

h1, .acercademititulo, h2 {
  text-align: center;
  font-family: "MontserratRegular";
  font-weight: bold;
  font-size: 60px;
  color: #242b6a;
}
@media (min-width: 1024px) {
  h1, .acercademititulo, h2 {
    font-size: 95px;
  }
}

h2 {
  font-family: "MontserratItalic";
  font-weight: normal;
  font-size: 50px;
}

footer {
  background-color: #85bfcb;
  font-family: "MontserratRegular";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

h3 {
  font-family: "MontserratItalic";
  font-weight: bold;
  font-size: 20px;
  color: #2b337d;
  text-align: start;
  padding: 20px;
}

.redes p a {
  padding: 10px;
}

.horarios {
  text-align: end;
}

h5 {
  color: darken grey, 20%;
  padding: 10px;
  font-size: 10px;
}

.textoacerca {
  color: black;
  font-weight: bold;
  font-family: "MontserratItalic";
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 12px;
}
@media (min-width: 1024px) {
  .textoacerca {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.acercademititulo {
  font-size: 50px;
  padding-top: 40px;
}
@media (min-width: 1024px) {
  .acercademititulo {
    font-size: 70px;
  }
}

.perfil {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
}
@media (min-width: 1024px) {
  .perfil {
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
  }
}

.victoria {
  margin: 50px 80px;
}
@media (min-width: 1024px) {
  .victoria {
    margin: 80px 400px;
  }
}

.obraslogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.obraslogos img {
  height: 150px;
  width: 250px;
  padding: 10px 10px;
  border-radius: 50px;
}
@media (min-width: 1024px) {
  .obraslogos img {
    padding: 10px 10px;
    border-radius: 50px;
  }
}

.procesos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.procesos img {
  border-radius: 20px;
  height: 320px;
  width: 230px;
  margin: 50px 10px;
}
@media (min-width: 1024px) {
  .procesos img {
    border-radius: 20px;
    height: 300px;
    width: 210px;
  }
}

.contactotitulo {
  font-size: 40px;
}
@media (min-width: 1024px) {
  .contactotitulo {
    padding: 10px;
    font-size: 60px;
  }
}

.nombre,
.email,
.tipodeconsul,
.terminos {
  font-family: "MontserratItalic";
  color: #2b337d;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.cuadromotivo {
  padding: 5px 60px;
}
@media (min-width: 1024px) {
  .cuadromotivo {
    padding: 5px 100px;
  }
}

.horarios {
  font-family: "MontserratItalic";
  color: #2b337d;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

iframe {
  width: 350px;
  height: 150px;
  padding: 10px 2px;
}
@media (min-width: 1024px) {
  iframe {
    width: 700px;
    height: 550px;
    padding: 15px;
  }
}

.grilla1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.25fr 0.25;
  grid-template-areas: "header " "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
@media (min-width: 1024px) {
  footer .grilla1 {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.5fr;
    grid-template-rows: 0.25fr auto 0.25fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  footer header {
    grid-area: header;
  }
  footer main {
    grid-area: main;
  }
  footer footer {
    grid-area: footer;
  }
}

.titulotratamientos {
  padding: 40px 20px;
}
@media (min-width: 1024px) {
  .titulotratamientos {
    padding: 80px 70px;
  }
}

.informacionvictoria {
  padding: 15px 25px;
}
@media (min-width: 1024px) {
  .informacionvictoria {
    padding: 50px 50px;
  }
}

.contenidocobertura {
  padding: 80px 25px;
}
@media (min-width: 1024px) {
  .contenidocobertura {
    padding: 280px 50px;
  }
}

.formulariocontacto {
  padding: 10px 25px;
}
@media (min-width: 1024px) {
  .formulariocontacto {
    padding: 60px 50px;
  }
}

@media screen and (min-width: 1024px) {
  .menu li a {
    padding: 15px;
    font-size: 18px;
    color: #2b337d;
  }

  .redes,
h3 {
    align-self: center;
  }
}/*# sourceMappingURL=styles.css.map */